body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 16px;
}

.login-container {
    max-width: 372px !important;
    margin: 0 auto;
    padding: 16px;
}